{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %}

<div class="register-container">

    <div class="register-box">

        <h1>Register Here</h1>

        <form method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
                <input class="submit-button" type="submit" name="submit" value="Daftar"/>
        </form>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    </div>

</div>

<style>
    /* Custom CSS here */
    .register-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f2f2f2;
        font-family: 'Nunito', sans-serif;
    }

    .register-box {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 20px;
        padding-bottom: 5px;
        text-align: center;
    }

    h1 {
        margin-bottom: 20px;
        color: #333;
        font-weight: 700;
    }

    table {
        text-align: left;
        margin-bottom: 5px;
        margin-top: 15px;
    }

    table tr {
        margin-bottom: 10px;
        margin-left: 20px;
    }

    table td {
        margin-left: 20px;
        padding: 5px;
    }

    table input[type="text"],
    table input[type="password"] {
        width: 100%;
    }

    .submit-button {
        background-color: #007BFF;
        color: white;
        margin-top: 15px;
        margin-bottom: 20px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

</style>

{% endblock content %}